{% extends "index.html" %}

{% block title %}Game{% endblock %}

{% block style %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<style type="text/css" rel="stylesheet">
  .container-fluid {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 25%;
  }
  #header {
    border: 1px solid;
    position: absolute;
    height: 50px;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    top: 15%;
  }
  #playerlist {
    border: 1px solid;
    height: 30vw;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }
  #chat {
    border: 1px solid;
    height: 30vw;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }
  #canvas {
    border: 1px solid;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    background-color: white;
  }
  .toolbar, #tb {
    border: 1px solid;
  }
  #tb {
    margin-top: 10px;
    height: 50px;
    position: relative;
  }
  #currentColor {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
  }
  #colors {
    position: absolute;
    left: 50px;
    width: 275px;
    height: 50px;
  }
  .color {
    position: absolute;
    width: 25px;
    height: 25px;
  }
  #clear {
    position: absolute;
    left: 325px;
    width: 25px;
    height 25px;
  }
  <!-- .svg-container {
  	display: inline-block;
    transform: translateX(-50%);
    left: 50%;
    top: 25%;
  	width: 40vw;
    height: 30vw;
  	vertical-align: middle;
  	overflow: hidden;
  }
  .svg-content {
  	display: inline-block;
  	position: absolute;
  	top: 0;
  	left: 0;
    width: 40vw;
    height: 30vw;
  } -->
</style>
{% endblock %}

{% block main %}

<center>
    <h3> Pictionary </h3>
    Roomcode: {{room_id}} <br>
    <button id="home"> Home </button>
</center>

<div id="header">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div id="playerlist">
      PlayerList
      </div>
    </div>
    <div class="col-xl">
      <svg id="canvas" height="500"
           width="800" style="border: 1px solid;">
      </svg>
      <div id="tb">
          <svg id="currentColor"></svg>
          <div id="colors">
            <div class="color" id="white" style="background-color: white;"></div>
            <div class="color" id="gray" style="background-color: #C1C0C1; left:25px;"></div>
            <div class="color" id="red" style="background-color: #EC160C; left:50px;"></div>
            <div class="color" id="orange" style="background-color: #FE7101; left:75px;"></div>
            <div class="color" id="yellow" style="background-color: #FFE202; left:100px;"></div>
            <div class="color" id="green" style="background-color: #05CB03; left:125px;"></div>
            <div class="color" id="lightblue" style="background-color: #01B2FF; left:150px;"></div>
            <div class="color" id="blue" style="background-color: #2021D1; left:175px;"></div>
            <div class="color" id="purple" style="background-color: #A400B7; left:200px;"></div>
            <div class="color" id="pink" style="background-color: #D07CA8; left:225px;"></div>
            <div class="color" id="brown" style="background-color: #A0522E; left:250px;"></div>
            <div class="color" id="black" style="background-color: black; top:25px;"></div>
            <div class="color" id="gray2" style="background-color: #534B46; left:25px; top:25px;"></div>
            <div class="color" id="red2" style="background-color: #701007; left:50px; top:25px;"></div>
            <div class="color" id="orange2" style="background-color: #C33801; left:75px; top:25px;"></div>
            <div class="color" id="yellow2" style="background-color: #E8A100; left:100px; top:25px;"></div>
            <div class="color" id="green2" style="background-color: #00590A; left:125px; top:25px;"></div>
            <div class="color" id="lightblue2" style="background-color: #01579D; left:150px; top:25px;"></div>
            <div class="color" id="blue2" style="background-color: #0E0766; left:175px; top:25px;"></div>
            <div class="color" id="purple2" style="background-color: #51036A; left:200px; top:25px;"></div>
            <div class="color" id="pink2" style="background-color: #A85270; left:225px; top:25px;"></div>
            <div class="color" id="brown2" style="background-color: #5A341A; left:250px; top:25px;"></div>
          </div>
          <div id="clear">
            <img src = "static/images/trash.jpg" style="width:50px;height:50px;">
          </div>

        </div>
    </div>
    <div class="col-sm">
      <div id="chat">
          <ul id="messages"></ul>
          <input type="text" id="myMessage">
          <button id="sendbutton">Send</button>
      </div>
    </div>
  </div>
</div>





<!-- <div class="svg-container">
  <svg id="canvas" version="1.1" viewBox="0 0 500 400"
  preserveAspectRatio="xMinYMin meet" class="svg-content">
  <circle fill="#F7941E" stroke="#231F20" stroke-width="10"
  	stroke-miterlimit="10" cx="250" cy="250" r="200" opacity="0.6" />
    <polyline points="0 0 50 50 100 10" fill="none" stroke="black"></polyline>
  </svg>
</div> -->
{% endblock %}

{% block script %}
<script>
    homeBut = document.getElementById("home");
    homeBut.addEventListener("click", function() {
        window.location.href = "/home"})

    $(document).ready(function() {
        var socket = io.connect('http://127.0.0.1:5000/');

        socket.on('connect', function() {
            socket.emit('join_room', {
                room: "{{ room }}"
            });
        });

        socket.on('room_announcement', function(data) {
            $("#messages").append("<li>User joined room!</li>")
        })

        socket.on('receive_message', function(data) {
            console.log(data.message)
            $("#messages").append("<li>"+data.message+"</li>")
        })

        $("#sendbutton").on('click', function() {
            socket.emit('send_message', {
                room: "{{ room }}",
                message: $("#myMessage").val()
            })
            $("#myMessage").val("")
        })

    });
</script>
<script src="/static/script.js" charset="utf-8"></script>
{% endblock %}
