{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="center-screen">
    <div class="card">
        <div class="card-body" style="width: 600px;">
            <h2 style="color: white;">Welcome to Pictionary!</h2>
            <div class="row mt-4">
                <div class="col d-flex flex-column">
                    <h5>Hello, <b>{{ ign }}</b>!</h5>
                    <div class="mt-3">
                        <button class="btn btn-primary" id="create">Create New Room</button><br>
                    </div>
                    <form class="mt-3" action="/logout">
                        <button class="btn btn-danger" type="submit">Logout</button>
                    </form>
                </div>

                <div class="col">
                    <h5>Join Game</h5>
                    <form action="/game" method="POST" autocomplete="off">
                        <label>Room ID</label><br>
                        <input type="text" name="room_id"><br>
                        <button class="btn btn-primary mt-2" type="submit">Join</button>
                    </form>
                    {% for message in get_flashed_messages() %}
                        <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
  <script>
    createBut = document.getElementById("create");
    createBut.addEventListener("click", function() {
      window.location.href = "/create"})
  </script>
{% endblock %}
