<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}{% endblock %} | Pictionary</title>
    {% block style %}{% endblock %}
    <style>
        body {
            background-color: #1A1A1A;
            color: white;
        }
        .card {
            background-color: #202020;
        }
        .center-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
        }
    </style>
</head>

<body>
    {% block main %}{% endblock %}

  {% block footer %}
    <footer class="fixed-bottom mx-auto text-center text-dark mb-2">
      <span>Copyright &copy; Sleepaholics 2020</span>
    </footer>
  {% endblock %}

    {% block script %}{% endblock %}
</body>

</html>
