{% extends "index.html" %}

{% block title %}Login{% endblock %}

{% block main %}
<div class="center-screen">
    <div class="card" style="justify-content: space-around;">
        <div class="card-body" style="width: 400px; display: flex; flex-direction: column; justify-content: space-around;">
            <h2 style="color: white;">Sleepaholics</h2>
            {% for message in get_flashed_messages() %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
            <form action='/login', method="POST">
                <label>Username</label><br>
                <input type="text" name="username"><br>
                <label>Password</label><br>
                <input type="password" name="password"><br>
                <button class="btn btn-success mt-3" type="submit" name="sub1">Submit</button>
            </form>

            <h6 class="mt-4">Don't have an account?</h6>
            <div>
                <button class="btn btn-primary" id="register">Register</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
  <script>
    registerBut = document.getElementById("register");
    registerBut.addEventListener("click", function() {
      window.location.href = "/register"})
  </script>
{% endblock %}
