{% extends "index.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<center>
  <h3> SLEEPAHOLICS </h3>
  {% for message in get_flashed_messages() %}
  <br>
  &#9888; {{ message }} &#9888;
  <br><br>
  {% endfor %}
  <form action='/register', method="POST">
      Username:
      <br>
      <input type = 'text' name = 'username' >
      <br>
      <br>
      Password:
      <br>
      <input type = 'password' name = 'password' >
      <br>
      <br>
      Confirm Password:
      <br>
      <input type = 'password' name = 'password2' >
      <br>
      <br>
      Name:
      <br>
      <input type = 'text' name = 'ign' >
      <br>
      <br>
      <input type = 'submit' name = 'sub1'>
      <br>
      <br>
  </form>
  <br>
  <button type="button" id="login">Login Here</button>
</center>
{% endblock %}

{% block script %}
  <script>
    registerBut = document.getElementById("login");
    registerBut.addEventListener("click", function() {
      window.location.href = "/login"})
  </script>
{% endblock %}
